@import '../../sass/vars'

nav.toolbar
  align-items: center
  background: #fff
  box-shadow: $brand-ui-shadow
  display: flex
  line-height: 34px
  padding: 8px 10px
  position: sticky
  top: 0
  z-index: 100
  
  #logo
    margin-top: -10px
    width: 22px

  h1
    color: $brand-secondary
    display: inline
    font-size: 22px
    font-weight: 900

  .current-user
    color: $brand-secondary
    font-weight: 400
    margin-right: 10px