@import 'fonts@plex'

$brand-primary: #3f2565
$brand-secondary: #652525
  
$red: #d34a4a
$green: #bdc99d

$sans: 'IBM Plex Sans', sans-serif
$mono: 'IBM Plex Mono', monospace
$serif: 'IBM Plex Serif', serif
$condensed: 'IBM Plex Sans Condensed', sans-serif
